# The tests are mostly noise and poorly maintained.
tests/

# The documentation is already hosted and the user is able to generate
# it using the build.xml if needed anyway.
docs/

# FlashDevelop
Sentinel.as3proj

# FlashBuilder
.settings/
.project
.flexLibProperties
.actionScriptProperties