# Typical nuances.
.DS_Store

# The documentation is already hosted and the user is able to generate
# it using the build.xml if needed anyway.
docs/

# FlashDevelop
Sentinel.as3proj

# FlashBuilder
.settings/
.project
.flexLibProperties
.actionScriptProperties

# Attach binaries to tags instead of keeping in the project tree.
bin/
